body {
    font-family: 'Open Sans', sans-serif;
    background: EAE6DA;
}

.container > div {
    padding-bottom: 30px;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 10px;
    
}

h3 {
    cursor: pointer;
    display: inline;
}

p {
    color: #333;
}

.more:after {
    content: "\25BC";

    position:  absolute;
    right: 20px;

    margin-top: -10px;
    font-size: 16px;
    color: #333;
}

.less:after {
    content: "\25B2";

    position: absolute;
    right: 20px;

    margin-top: -10px;
    font-size: 16px;
    color: #333;
}

li.book {
    border-left: #7B3539 solid 5px;
}

li.DVD {
    border-left: #2D62A3 solid 5px;
}

li.streaming {
    border-left: #006865 solid 5px;
}

li.e-book {
    border-left: #F3ED7C solid 5px;
}

.byline {
    font-size: 14px;
    font-style: italic;
}